/* Start Variables */
:root {
  --main-color: #19c8fa;
  --main-duration: 0.3s;
}
/* End Variables */

/* Start Global Rules*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

ul {
  list-style: none;
}
/* End Global Rules */

/* Start Components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
} 


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Mobile */
@media (max-width: 767px) {
  header .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

header .container::after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: -1;
}

header .logo {
  height: 40px; /* When one dimension is set, the other one will be automatically determined */
  text-decoration: none;
}

header .logo img {
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .links .toggle-menu {
  display: none;
}

/* Mobile */
@media (max-width: 767px) {
  header nav .links .toggle-menu {
    display: block;
    color: #fff;
    font-size: 20px;
  }
}

header nav .links .toggle-menu:hover + ul {
  display: flex;
}

header nav .links ul {
  display: flex;
}

/* Mobile */
@media (max-width: 767px) {
  header nav .links ul {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    
  }
}

header nav .links ul li a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  padding: 40px 10px;
  color: #fff;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

/* Mobile */
@media (max-width: 767px) {
  header nav .links ul li a {
    padding: 15px;
  }
}

header nav .links ul li a.active,
header nav .links ul li a:hover {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

header nav .form {
  border-left: 1px solid #fff;
  margin-left: 30px;
  padding: 5px 0 5px 20px;
}

header nav .form i {
  color: #fff;
  font-size: 20px;
}
/* End Header */
