/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgba(15, 116, 143, 0.7);
  --pararaph-color: #777;
  --section-padding: 100px;
  --main-duration: 0.5s;
}
/* End Variables */

/* Start Global Rules*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/* End Global Rules */

/* Start Components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section-head {
  text-align: center;
  margin-bottom: 100px;
}

.section-head h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 70px;
  position: relative;
}

.section-head h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.section-head h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section-head p {
  color: var(--pararaph-color);
  line-height: 2;
  font-size: 16px;
  margin: 0 auto;
  max-width: 550px;
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Mobile */
@media (max-width: 767px) {
  header .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

header .container::after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: -1;
}

header .logo {
  height: 40px; /* When one dimension is set, the other one will be automatically determined */
  text-decoration: none;
}

header .logo img {
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .links .toggle-menu {
  display: none;
}

/* Mobile */
@media (max-width: 767px) {
  header nav .links .toggle-menu {
    display: block;
    color: #fff;
    font-size: 20px;
  }
}

header nav .links .toggle-menu:hover + ul {
  display: flex;
}

header nav .links ul {
  display: flex;
}

/* Mobile */
@media (max-width: 767px) {
  header nav .links ul {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
  }
}

header nav .links ul li a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  padding: 40px 10px;
  color: #fff;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

/* Mobile */
@media (max-width: 767px) {
  header nav .links ul li a {
    padding: 15px;
  }
}

header nav .links ul li a.active,
header nav .links ul li a:hover {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

header nav .form {
  border-left: 1px solid #fff;
  margin-left: 30px;
  padding: 5px 0 5px 20px;
}

header nav .form i {
  color: #fff;
  font-size: 20px;
}
/* End Header */

/* Start Landing */
.land {
  height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}

.land::before,
.land::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  font-size: 25px;
  color: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1;
}

.land::before {
  content: "\f104";
  left: 30px;
}

.land::after {
  content: "\f105";
  right: 30px;
}

/* Mobile */
@media (max-width: 767px) {
  .land::before,
  .land::after {
    content: none;
  }
}

.land .intro {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
}

/* Mobile */
@media (max-width: 767px) {
  .land .intro {
    width: 100%;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .land .intro {
    padding-left: 95px;
  }
}

.land .intro h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
}

.land .intro p {
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;
}

.land .bullets {
  display: flex;
  justify-content: space-between;
  flex: wrap;
  width: 80px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.land .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
}

.land .bullets li.active {
  border-color: var(--main-color);
  background-color: var(--main-color);
}

/* End Landing */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-row-gap: 60px;
  grid-column-gap: 40px;
}

/* Mobile */
@media (max-width: 767px) {
  .services .services-content {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

.services .services-content .service {
  display: flex;
  gap: 30px 50px;
}

/* Mobile */
@media (max-width: 767px) {
  .services .services-content .service {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .service i {
  font-size: 45px;
  color: #000;
}

.services .services-content .service .text h3 {
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 30px;
}

.services .services-content .service .text p {
  color: var(--pararaph-color);
  line-height: 2;
  font-size: 16px;
}
/* End Services */

/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.design .image {
  position: absolute;
  bottom: -100px;
  left: 23%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* Mobile */
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .text {
  color: #fff;
  width: 54%;
  background-color: var(--transparent-color);
  padding: 50px;
  z-index: 1;
}

/* Mobile */
@media (max-width: 767px) {
  .design .text {
    width: 100%;
  }
}

.design .text h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 60px;
}

.design .text ul {
  padding-left: 35px;
}

.design .text ul li {
  text-transform: capitalize;
  position: relative;
}

.design .text ul li:not(:last-child) {
  margin-bottom: 30px;
}

.design .text ul li::before {
  content: "\e163";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  position: absolute;
  left: -35px;
}
/* End Design */

/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .container {
  margin-bottom: 50px;
}

.portfolio ul.shuffle {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

.portfolio ul.shuffle li {
  text-transform: capitalize;
  padding: 10px;
  cursor: pointer;
}

.portfolio ul.shuffle li.active {
  background-color: var(--main-color);
  color: #fff;
  cursor: unset;
}

.portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-row-gap: 1px;
}

/* Large Screen */
@media (min-width: 1200px) {
  .portfolio .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.portfolio .gallery .gallery-item {
  position: relative;
  overflow: hidden;
}

.portfolio .gallery .gallery-item img {
  max-width: 100%;
  transition: transform var(--main-duration);
  -webkit-transition: transform var(--main-duration);
  -moz-transition: transform var(--main-duration);
  -ms-transition: transform var(--main-duration);
  -o-transition: transform var(--main-duration);
}

.portfolio .gallery .gallery-item:hover img {
  transform: scale(1.2) rotate(3deg);
  -webkit-transform: scale(1.2) rotate(3deg);
  -moz-transform: scale(1.2) rotate(3deg);
  -ms-transform: scale(1.2) rotate(3deg);
  -o-transform: scale(1.2) rotate(3deg);
}

.portfolio .gallery .gallery-item .caption {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: transform var(--main-duration);
  -webkit-transition: transform var(--main-duration);
  -moz-transition: transform var(--main-duration);
  -ms-transition: transform var(--main-duration);
  -o-transition: transform var(--main-duration);
  z-index: 1;
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}

.portfolio .gallery .gallery-item:hover .caption {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.portfolio .gallery .gallery-item .caption h4 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.portfolio .gallery .gallery-item .caption p {
  color: var(--main-color);
}

.portfolio .more-button {
  display: block;
  width: fit-content;
  margin: 30px auto 0;
  padding: 15px 25px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--main-color);
  color: #fff;
}
/* End Portolio */

/* Start Video */
.videos {
  position: relative;
}

.videos video {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.videos .text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1;
  background-color: var(--transparent-color);
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.videos .text h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
}

.videos .text p {
  text-transform: capitalize;
  margin-bottom: 40px;
}

.videos .text a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
}
/* End Video */

/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  max-width: 100%; /* in order to avoid horizontal overflow (scroll)  */
  position: relative;
  bottom: -50px;
  margin-top: -50px;
}

/* Mobile */
@media (max-width: 767px) {
  .about img {
    bottom: -30px;
    margin-top: -30px;
  }
}
/* End About */

/* Start Statistics */
.statistics {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: #1f2021;
  background-image: url(../images/stats.png);
  background-size: cover;
}

.statistics .statistics-container {
  background-color: var(--transparent-color);
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.statistics .statistics-container .box {
  flex-basis: 100%;
  text-align: center;
}

/* Small Screen */
@media (min-width: 768px) {
  .statistics .statistics-container .box {
    flex-basis: 50%;
  }
}

/* Medium and Large Screen */
@media (min-width: 992px) {
  .statistics .statistics-container .box {
    flex-basis: 25%;
  }
}

.statistics .statistics-container .box span {
  display: block;
  color: #fff;
}

.statistics .statistics-container .box .icon {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics .statistics-container .box .number {
  font-size: 50px;
  font-weight: 700;
  margin: 30px 0 20px;
}

.statistics .statistics-container .box .task {
  text-transform: capitalize;
  font-size: 14px;
}
/* End Statistics */

/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-skills .container .box {
  flex-basis: 100%;
}

.our-skills .container .box.testimonials {
  margin-bottom: 50px;
}

/* Medium and Large Screen */
@media (min-width: 992px) {
  .our-skills .container .box {
    flex-basis: calc(50% - 60px);
    margin-bottom: 0;
  }
  .our-skills .container .box.testimonials {
    margin-bottom: 0;
  }
}

.our-skills .box .heading {
  margin-bottom: 60px;
  text-align: center;
}

.our-skills .box .heading h3 {
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 30px;
}

.our-skills .box .heading p {
  color: var(--pararaph-color);
  line-height: 2;
  font-size: 16px;
  margin: 0 auto;
  max-width: 550px;
}

.our-skills .testimonial {
  display: flex;
  align-items: center;
  column-gap: 50px;
  row-gap: 20px;
}

/* Mobile */
@media (max-width: 767px) {
  .our-skills .testimonial {
    flex-direction: column;
    text-align: center;
  }
}

.our-skills .testimonial:not(:last-of-type) {
  margin-bottom: 30px;
}

.our-skills .testimonial img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.our-skills .testimonial .text {
  position: relative;
}

.our-skills .testimonial .text p {
  line-height: 1.8;
  font-size: 16px;
  margin-bottom: 5px;
}

.our-skills .testimonial .text span {
  display: block;
  width: fit-content;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  margin-left: auto; 
  margin-bottom: 15px;
}

.our-skills .testimonial .text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.our-skills .bullets {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 50px auto 0;
}

.our-skills .testimonials .bullets li {
  width: 13px;
  height: 13px;
  border: 1px solid #777;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.our-skills .testimonials .bullets li.active {
  border-color: var(--main-color);
  background-color: #19c8fa;
}

.our-skills .skill:not(:last-of-type) {
  margin-bottom: 40px;
}

.our-skills .skill h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-skills .skill .prog {
  width: 100%;
  height: 30px;
  background-color: #dedadc;
}

.our-skills .skill .prog div {
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}

.our-skills .skill .prog div::before {
  content: attr(data-progress);
  position: absolute;
  right: 0;
  top: -45px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.our-skills .skill .prog div::after {
  content: "";
  position: absolute;
  right: 0;
  top: -15px;
  border: 7px solid;
  border-color: #000 transparent transparent;
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  -o-transform: translateX(7px);
}

/* End Skills */

